<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="css/style.css")
        title Lenoma
    body
        .maincontent
            .wrapper
                header.header
                    img(src="img/icons/menu.svg" width="30" height="30").topbar__menu
                    .header__topbar
                        .topbar__left
                            nav.topbar__list
                                ul.topbar__items
                                    li.topbar__item
                                        a(href="#") О магазине
                                    li.topbar__item
                                        a(href="#") Оплата
                                    li.topbar__item
                                        a(href="#") Доставка
                                    li.topbar__item
                                        a(href="#") Отзывы
                                    li.topbar__item
                                        a(href="#") Новости
                                    li.topbar__item
                                        a(href="#") Статьи
                                    li.topbar__item
                                        a(href="#") Контакты
                        .topbar__right
                            .topbar__account
                                a(href="#") Личный кабинет
                            .topbar__select
                                a(href="#") Избранное
                                sup 2
                    .header__search
                        .header__left
                            .header__logo
                                img(src="img/image/logo.png")
                        .header__center
                            .header__field
                                form.form
                                    .form__container
                                        input(type="text", placeholder="поиск по каталогу товаров")
                                        button
                                            svg(width="14" height="14")
                                                use(xlink:href="#search")
                            .header__contacts
                                .header__block
                                    .info.first +7/495/542-05-95
                                .header__block
                                    svg(width="14" height="14")
                                        use(xlink:href="#phone")
                                    .info обратный звонок
                                .header__block
                                    svg(width="14" height="14")
                                        use(xlink:href="#email")
                                    .info INFO@LENOMA.RU
                                .header__block
                                    svg(width="14" height="14")
                                        use(xlink:href="#time")
                                    .info пн-пт 9.00-21.00
                        .header__right
                            .header__bag
                                a(href="#")
                                    img(src="img/icons/bag.png")
                                    div
                                    sup 4
                    .header__menu
                        svg(height="31" width="31")
                            use(xlink:href="#arrow")
                        nav.header__list
                            ul.header__items
                                li.header__item
                                    a(href="") Акция
                                li.header__item
                                    a(href="") Парфюмерия
                                li.header__item
                                    a(href="") Новинки
                                li.header__item
                                    a(href="") Макияж
                                li.header__item
                                    a(href="") Уход за кожей
                                li.header__item
                                    a(href="") Уход за волосами
                                li.header__item
                                    a(href="") Для мужчин
                                    ul.item__list
                                        li.item__items
                                            a(href="#") Мужские ароматы
                                        li.item__items
                                            a(href="#") Дезодоранты
                                        li.item__items
                                            a(href="#") Гели для душа
                                        li.item__items
                                            a(href="#") Шампуни и кондиционеры
                                li.header__item
                                    a(href="") Organic
                                li.header__item
                                    a(href="") Подарки
                                li.header__item.sale
                                    a(href="") SALE
                section.slider
                    .slider__wrapper
                        .slider__title
                            h2 идеальный аромат от giorgio armani
                            .more
                                a(href="#") подробнее
                        .slider__content
                            .slider__elements
                                .slider__item
                                    .slider__product
                                        img(src="img/image/slider_perfume.png")
                                        .span от 4 990 Р.-
                                    .slider__face
                                        img(src="img/image/slider.png")
                                .slider__item
                                    .slider__product
                                        img(src="img/image/slider_perfume.png")
                                        .span от 4 990 Р.-
                                    .slider__face
                                        img(src="img/image/slider.png")
                                .slider__item
                                    .slider__product
                                        img(src="img/image/slider_perfume.png")
                                        .span от 4 990 Р.-
                                    .slider__face
                                        img(src="img/image/slider.png")
                            .slider__points
                                .square.active  
                                .square  
                                .square  
                        //- position: absolute
                        .slider__advice
                            h3 наши рекомендации
                            .advice__list
                                a(href="#") Интересные предложения
                                a(href="#") Женская парфюмерия
                                a(href="#") Товар со скидкой
                .advantage
                    .advantage__item
                        hr(noshade)
                        p оригинальная продукция
                    .advantage__item
                        hr(noshade)
                        p бесплатная доставка по москве и россии
                    .advantage__item
                        hr(noshade)
                        p список скидок
                    .advantage__item
                        hr(noshade)
                        p срочная доставка
                section.carusel
                    .carusel__wrapper
                        h2.carusel__h2 хиты продаж
                        .carusel__block
                            //- стрелка
                            .carusel__arrow.prew
                                svg(height="31" width="31")
                                    use(xlink:href="#arrow")
                            //- блок с каруселью
                            .carusel__list
                                //- блок товара
                                .carusel__item.discount
                                    //- изображение
                                    .sale SALE
                                    .carusel__img
                                        img(src="img/image/sleur narcoticue.png")
                                    //- название духов
                                    .carusel__name
                                        p fleur narcotique
                                    //- категория товара
                                    .carusel__text
                                        p EX Nihilo
                                        p Парфюмерная вода
                                        p Женская
                                    //- цена
                                    .carusel__price
                                        p.sale_p от 8 990 Р. -
                                        p от 4 990 Р. -
                                - 
                                    var element = [
                                        {
                                            name:"100% love",
                                            name_file:"100_love",
                                            price:"от 2 390 Р. -"
                                        },
                                        {
                                            name:"10 corso como",
                                            name_file:"10_corso",
                                            price:"от 7 890 Р. -"
                                        },
                                        {
                                            name:"1881 collection",
                                            name_file:"1881",
                                            price:"от 3 270 Р. -"
                                        },
                                        {
                                            name:"100% love",
                                            name_file:"100_love",
                                            price:"от 2 390 Р. -"
                                        },
                                    ]
                                each val in element
                                    .carusel__item
                                        //- изображение
                                        .carusel__img
                                            img(src=`img/image/${val.name_file}.png`)
                                        //- название духов
                                        .carusel__name
                                            p=val.name
                                        //- категория товара
                                        .carusel__text
                                            p EX Nihilo
                                            p Парфюмерная вода
                                            p Женская
                                        //- цена
                                        .carusel__price
                                            p=val.price
                            //- стрелка
                            .carusel__arrow.next
                                svg(height="31" width="31")
                                    use(xlink:href="#arrow")
                section.carusel
                    .carusel__wrapper
                        h2.carusel__h2 новинки
                        .carusel__block
                            //- стрелка
                            .carusel__arrow.prew
                                svg(height="31" width="31")
                                    use(xlink:href="#arrow")
                            .carusel__list
                                - 
                                    var element1 = [
                                        {
                                            name_file:"aigner_black",
                                            name:"aigner black",
                                            price:"от 6 780 Р. -"
                                        },
                                        {
                                            name_file:"aigner_black_ice",
                                            name:"aigner black icedrops",
                                            price:"от 2 990 Р. -"
                                        },
                                        {
                                            name_file:"fluer_narcotique",
                                            name:"fluer narcotique",
                                            price:"от 4 990 Р. -"
                                        },
                                        {
                                            name_file:"aire_loco",
                                            name:"aire loco",
                                            price:"от 3 910 Р. -"
                                        },
                                        {
                                            name_file:"aigner_black",
                                            name:"aigner black",
                                            price:"от 6 780 Р. -"
                                        },
                                    ]
                                each val in element1
                                    .carusel__item
                                        .carusel__img
                                            img(src=`img/image/${val.name_file}.png`)
                                        .carusel__name
                                            p=val.name
                                        .carusel__text
                                            p EX Nihilo
                                            p Парфюмерная вода
                                            p Женская
                                        //- цена
                                        .carusel__price
                                            p=val.price
                            //- стрелка
                            .carusel__arrow.next
                                svg(height="31" width="31")
                                    use(xlink:href="#arrow")
                section.carusel
                    .carusel__wrapper
                        h2.carusel__h2 специальные предложения
                        .carusel__block
                            //- стрелка
                            .carusel__arrow.prew
                                svg(height="31" width="31")
                                    use(xlink:href="#arrow")
                            .carusel__list
                                - 
                                    var element2 = [
                                        {
                                            name_file:"8_always",
                                            name:"8 always pretty",
                                            price:"от 4 990 Р. -"
                                        },
                                        {
                                            name_file:"fan_di",
                                            name:"fan di fendi extreme",
                                            price:"от 2 390 Р. -"
                                        },
                                        {
                                            name_file:"tease",
                                            name:"tease limited edition eau de parfum",
                                            price:"от 3 910 Р. -"
                                        },
                                        {
                                            name_file:"001",
                                            name:"aire loco",
                                            price:"от 4 990 Р. -"
                                        },
                                        {
                                            name_file:"8_always",
                                            name:"8 always pretty",
                                            price:"от 4 990 Р. -"
                                        },
                                    ]
                                each val in element2
                                    .carusel__item
                                        .carusel__img
                                            img(src=`img/image/${val.name_file}.png`)
                                        .carusel__name
                                            p=val.name
                                        .carusel__text
                                            p EX Nihilo
                                            p Парфюмерная вода
                                            p Женская
                                        .carusel__price
                                            p=val.price
                            .carusel__arrow.next
                                svg(height="31" width="31")
                                    use(xlink:href="#arrow")
                section.carusel
                    .carusel__wrapper
                        h2.carusel__h2 топ брендов
                        .h3 все бренды
                        - var firm = ['dolce&gabbana', 'calvin_klein', 'balgari', 'dior', 'Yves','burberry']
                        .carusel__firms
                            each val in firm
                                .carusel__firm
                                    img(src=`img/image/${val}.png`)
                        .carusel__block.firms
                            .carusel__arrow.prew
                                svg(width="31" height="31")
                                    use(xlink:href="#arrow")
                            .carusel__list
                                -
                                    var firm_item = [
                                        {
                                            info: ["Azzaro","Burberry","Bvlgari","Calvin Klein","Carolina Herrera","Cartiel"]
                                        },
                                        {
                                            info: ["Cristian Dior","Dana","Davidoff","Dolce & Gabbana","Elizabeth Arden","Estee Lauder"]
                                        },
                                        {
                                            info: ["Giorgio Armani","Givenchy","Gucci","Guerlain","Hugo Boss","Issey Miyake"]
                                        },
                                        {
                                            info: ["Ivanka Trumo","Jean Paul Gaultier","Juicy Couture","Lancome","Liz Claiborne","Mont Blanc"]
                                        },
                                        {
                                            info: ["Paco Rabanne","Parfums De Coeur","Ralph Lauren","Thierry Mugler","Versace","Yves Saint Laurent"]
                                        },
                                        {
                                            info: ["Azzaro","Burberry","Bvlgari","Calvin Klein","Carolina Herrera","Cartiel"]
                                        },
                                    ]
                                each val_firm in firm_item
                                    .carusel__item.firm
                                        each i in val_firm.info
                                            p=i
                            .carusel__arrow.next
                                svg(width="31" height="31")
                                    use(xlink:href="#arrow")
                section.news
                    h2.news__h2 статьи и новости
                    .news__block
                        .news__articles
                            .news__item
                                h3.news__h3 парфюмерия в нашей жизни
                                .news__date 26 апреля 2017
                                .news__info Как ароматы могут влиять на ваше настроение, самочувствие, деловые отношения и любовные завоевания? Все секреты магической силы различных парфюмов, вы, сможете открыть для себя, прочитав эту статью!
                            .news__item
                                h3.news__h3 топ женских ароматов - весна 2016
                                .news__date 26 апреля 2017
                                .news__info Как ароматы могут влиять на ваше настроение, самочувствие, деловые отношения и любовные завоевания? Все секреты магической силы различных парфюмов, вы, сможете открыть для себя, прочитав эту статью!
                            .news__item
                                h3.news__h3 победителя парфюмерных премий art and olfaction
                                .news__date 26 апреля 2017
                                .news__info В Канаде прошло награждения победителей девятой ежегодной премии ароматов "Canadian Fragrance Awards 2014"
                            .news__more
                                a(href="#") смотреть все статьи
                        .news__text
                            .news__item
                                .news__img
                                    img(src="img/image/news.png")
                                .news__itemtext
                                    h3.news__h3 geza shoen, mark buxton и bertrand duchaufour
                                    .news__date 26 апреля 2017
                                    .news__info Три поистине великих парфюмера объеденили свои общие труды и выпустили коллекцию под названием Renegase
                            .news__item.news__middle
                                .news__itemtext.item__middle
                                    h3.news__h3 no ordinary man korloff paris
                                    .news__date 26 апреля 2017
                                    .news__info мужской аромат выпущенные в 2016 году воплощает силу духа и отвагу
                                .news__img.middle
                                    img(src="img/image/no_ordinary.png")
                            .news__item
                                .news__img
                                    img(src="img/image/bracken.png")
                                .news__itemtext
                                    h3.news__h3 новый аромат представляет собой
                                    .news__date 26 апреля 2017
                                    .news__info Новинка 2016 года для мужчин от торогового дома Amouage - Bracken for Men. обладателя
                            .news__more
                                a(href="#") смотреть все новости
                footer.footer
                    .footer__wrapp
                        .footer__block
                            .footer__t-list
                                .footer__h3 о компании
                                nav.footer__nav
                                    ul.footer__list
                                        li.footer__item
                                            a(href="#") О магазине
                                        li.footer__item
                                            a(href="#") Оплата
                                        li.footer__item
                                            a(href="#") Доставка
                                        li.footer__item
                                            a(href="#") Новости
                                        li.footer__item
                                            a(href="#") Статьи
                                        li.footer__item
                                            a(href="#") Контакты
                                        li.footer__item
                                            a(href="#") Информация о заказах
                            .footer__t-list
                                .footer__h3 каталог
                                nav.footer__nav
                                    ul.footer__list
                                        li.footer__item
                                            a(href="#") Женская парфюмерия
                                        li.footer__item
                                            a(href="#") Мужская парфюмерия
                                        li.footer__item
                                            a(href="#") Новинки
                                        li.footer__item
                                            a(href="#") Средства ухода
                                        li.footer__item
                                            a(href="#") Селективная косметика
                                        li.footer__item
                                            a(href="#") Духи для дома
                                        li.footer__item
                                            a(href="#") Винтаж
                            .footer__t-list
                                .footer__h3 +7 /495/ 542-05-09
                                .footer__contacts
                                    .footer__whats
                                        p Мы доступны также 
                                        svg(width="26" height="26")
                                                use(xlink:href="#whats")
                                        svg(width="20" height="20")
                                                use(xlink:href="#viber")
                                    .footer__whats В рабочее время с 9.00 до 21.00
                                    .footer__call
                                        .footer__info
                                            svg(width="14" height="14")
                                                use(xlink:href="#phone") 
                                            p обратный звонок
                                        .footer__info
                                            svg(width="14" height="14")
                                                use(xlink:href="#email") 
                                            p info@lenoma.ru
                                        .footer__info
                                            svg(width="14" height="14")
                                                use(xlink:href="#skype")
                                            p skype: lenoma.ru
                            .footer__t-list
                                .footer__h3 подписаться на новости
                                .footer__form
                                    input#text(type="text", placeholder="введите email")
                                    br
                                    input#button(type="button", value="подписаться")
                                .footer__inst
                                    .footer__img
                                        img(src="img/icons/instagram.svg" width="20" height="20")
                                    p присоединяйтесь к нам
                        .footer__vault
                            .footer__p
                                svg(width="14" height="14")
                                    use(xlink:href="#copy")
                                p 2017.Lenoma.ru
                            .footer__right
                                svg(width="20" height="20")
                                    use(xlink:href="#idea")
                                p Разработка и поддержка - "ЭВРИКА"
        div(hidden)
            svg#search(viewBox="0 0 512 512")
                g
                    path(d="M495,466.2L377.2,348.4c29.2-35.6,46.8-81.2,46.8-130.9C424,103.5,331.5,11,217.5,11C103.4,11,11,103.5,11,217.5   S103.4,424,217.5,424c49.7,0,95.2-17.5,130.8-46.7L466.1,495c8,8,20.9,8,28.9,0C503,487.1,503,474.1,495,466.2z M217.5,382.9   C126.2,382.9,52,308.7,52,217.5S126.2,52,217.5,52C308.7,52,383,126.3,383,217.5S308.7,382.9,217.5,382.9z")
            svg#phone(viewBox="0 0 578.106 578.106")
                g
                    g
                        path(d="M577.83,456.128c1.225,9.385-1.635,17.545-8.568,24.48l-81.396,80.781c-3.672,4.08-8.465,7.551-14.381,10.404c-5.916,2.857-11.729,4.693-17.439,5.508c-0.408,0-1.635,0.105-3.676,0.309c-2.037,0.203-4.689,0.307-7.953,0.307c-7.754,0-20.301-1.326-37.641-3.979s-38.555-9.182-63.645-19.584c-25.096-10.404-53.553-26.012-85.376-46.818c-31.823-20.805-65.688-49.367-101.592-85.68c-28.56-28.152-52.224-55.08-70.992-80.783c-18.768-25.705-33.864-49.471-45.288-71.299c-11.425-21.828-19.993-41.616-25.705-59.364S4.59,177.362,2.55,164.51s-2.856-22.95-2.448-30.294c0.408-7.344,0.612-11.424,0.612-12.24c0.816-5.712,2.652-11.526,5.508-17.442s6.324-10.71,10.404-14.382L98.022,8.756c5.712-5.712,12.24-8.568,19.584-8.568c5.304,0,9.996,1.53,14.076,4.59s7.548,6.834,10.404,11.322l65.484,124.236c3.672,6.528,4.692,13.668,3.06,21.42c-1.632,7.752-5.1,14.28-10.404,19.584l-29.988,29.988c-0.816,0.816-1.53,2.142-2.142,3.978s-0.918,3.366-0.918,4.59c1.632,8.568,5.304,18.36,11.016,29.376c4.896,9.792,12.444,21.726,22.644,35.802s24.684,30.293,43.452,48.653c18.36,18.77,34.68,33.354,48.96,43.76c14.277,10.4,26.215,18.053,35.803,22.949c9.588,4.896,16.932,7.854,22.031,8.871l7.648,1.531c0.816,0,2.145-0.307,3.979-0.918c1.836-0.613,3.162-1.326,3.979-2.143l34.883-35.496c7.348-6.527,15.912-9.791,25.705-9.791c6.938,0,12.443,1.223,16.523,3.672h0.611l118.115,69.768C571.098,441.238,576.197,447.968,577.83,456.128z")
            svg#email(viewBox="0 0 31.012 31.012")
                g
                    path(d="M28.512,26.529H2.5c-1.378,0-2.5-1.121-2.5-2.5V6.982c0-1.379,1.122-2.5,2.5-2.5h26.012c1.378,0,2.5,1.121,2.5,2.5v17.047C31.012,25.408,29.89,26.529,28.512,26.529z M2.5,5.482c-0.827,0-1.5,0.673-1.5,1.5v17.047c0,0.827,0.673,1.5,1.5,1.5h26.012c0.827,0,1.5-0.673,1.5-1.5V6.982c0-0.827-0.673-1.5-1.5-1.5H2.5z")
                    path(d="M15.506,18.018c-0.665,0-1.33-0.221-1.836-0.662L0.891,6.219c-0.208-0.182-0.23-0.497-0.048-0.705c0.182-0.21,0.498-0.23,0.706-0.049l12.778,11.137c0.64,0.557,1.72,0.556,2.358,0L29.46,5.466c0.207-0.183,0.522-0.162,0.706,0.049c0.182,0.208,0.16,0.523-0.048,0.705L17.342,17.355C16.836,17.797,16.171,18.018,15.506,18.018z")
            
            svg#time(viewBox="0 0 97.16 97.16")
                g
                    g
                        path(d="M48.58,0C21.793,0,0,21.793,0,48.58s21.793,48.58,48.58,48.58s48.58-21.793,48.58-48.58S75.367,0,48.58,0z M48.58,86.823c-21.087,0-38.244-17.155-38.244-38.243S27.493,10.337,48.58,10.337S86.824,27.492,86.824,48.58S69.667,86.823,48.58,86.823z")
                        path(d="M73.898,47.08H52.066V20.83c0-2.209-1.791-4-4-4c-2.209,0-4,1.791-4,4v30.25c0,2.209,1.791,4,4,4h25.832c2.209,0,4-1.791,4-4S76.107,47.08,73.898,47.08z")
            svg#arrow(viewBox="0 0 129 129")
                g
                    path(d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z")

            svg#skype(viewBox="0 0 18.61 18.61")
                g 
                    path(d="M6.17,2c0.751,0,1.44,0.202,2.069,0.609c0.324-0.08,0.711-0.121,1.157-0.121c1.846,0,3.418,0.67,4.717,2.008c1.299,1.339,1.948,2.962,1.948,4.87c0,0.466-0.051,0.953-0.152,1.461c0.264,0.589,0.396,1.187,0.396,1.794c0,1.097-0.38,2.036-1.142,2.815c-0.761,0.781-1.668,1.173-2.725,1.173c-0.629,0-1.237-0.162-1.825-0.488c-0.527,0.081-0.933,0.122-1.217,0.122c-1.847,0-3.425-0.67-4.733-2.009S2.7,11.272,2.7,9.366c0-0.447,0.051-0.902,0.152-1.37C2.488,7.387,2.305,6.708,2.305,5.957c0-1.096,0.376-2.029,1.126-2.799C4.181,2.386,5.095,2,6.17,2 M9.305,12.53c-0.406,0-0.729-0.061-0.975-0.183c-0.263-0.142-0.445-0.284-0.547-0.425c-0.243-0.447-0.376-0.681-0.396-0.7c-0.081-0.243-0.202-0.447-0.364-0.609C6.82,10.473,6.617,10.4,6.413,10.4c-0.284,0-0.517,0.091-0.7,0.274c-0.183,0.182-0.274,0.396-0.274,0.639c0,0.386,0.144,0.801,0.428,1.248c0.263,0.405,0.629,0.741,1.096,1.003c0.648,0.346,1.45,0.519,2.404,0.519c0.79,0,1.49-0.122,2.1-0.365c0.609-0.284,1.055-0.639,1.339-1.065c0.304-0.467,0.456-0.975,0.456-1.522c0-0.445-0.08-0.852-0.242-1.217c-0.163-0.304-0.416-0.578-0.762-0.82c-0.365-0.225-0.75-0.407-1.156-0.548C10.413,8.342,9.924,8.21,9.641,8.15c-0.143-0.021-0.32-0.055-0.533-0.107c-0.213-0.05-0.35-0.085-0.41-0.106C8.455,7.857,8.282,7.785,8.18,7.725C8.017,7.644,7.886,7.532,7.784,7.389c-0.103-0.1-0.152-0.233-0.152-0.396c0-0.243,0.142-0.455,0.426-0.639c0.265-0.203,0.649-0.305,1.156-0.305c0.508,0,0.884,0.092,1.127,0.273c0.263,0.225,0.456,0.478,0.577,0.762c0.163,0.264,0.295,0.446,0.396,0.547c0.162,0.123,0.355,0.184,0.578,0.184c0.264,0,0.498-0.102,0.699-0.306c0.184-0.181,0.275-0.404,0.275-0.669c0-0.202-0.072-0.467-0.214-0.791c-0.162-0.243-0.376-0.486-0.639-0.729c-0.284-0.224-0.659-0.417-1.127-0.579c-0.485-0.143-1.004-0.213-1.552-0.213c-0.73,0-1.38,0.11-1.948,0.335c-0.566,0.2-1.003,0.505-1.307,0.911c-0.305,0.406-0.457,0.872-0.457,1.4c0,0.527,0.143,0.984,0.426,1.37c0.346,0.405,0.73,0.688,1.156,0.851C7.692,9.619,8.28,9.802,8.97,9.943c0.121,0.021,0.27,0.056,0.441,0.106c0.172,0.052,0.324,0.092,0.457,0.123c0.131,0.028,0.238,0.055,0.319,0.075c0.284,0.103,0.517,0.243,0.699,0.427c0.183,0.141,0.274,0.354,0.274,0.639c0,0.346-0.162,0.629-0.486,0.853C10.31,12.409,9.853,12.53,9.305,12.53 M6.17,0C4.561,0,3.117,0.61,1.996,1.765C0.891,2.899,0.305,4.35,0.305,5.957c0,0.832,0.156,1.619,0.466,2.348c-0.047,0.357-0.07,0.713-0.07,1.062c0,2.438,0.853,4.547,2.532,6.267c1.693,1.732,3.768,2.61,6.164,2.61c0.254,0,0.547-0.02,0.896-0.06c0.69,0.283,1.409,0.426,2.146,0.426c1.588,0,3.025-0.614,4.157-1.777c1.117-1.143,1.709-2.6,1.709-4.211c0-0.677-0.111-1.349-0.332-2.004c0.059-0.427,0.089-0.846,0.089-1.251c0-2.437-0.846-4.544-2.513-6.263c-1.685-1.735-3.755-2.615-6.152-2.615c-0.279,0-0.546,0.013-0.801,0.038C7.84,0.177,7.028,0,6.17,0z")
            
            svg#whats(viewBox="0 0 418.135 418.135")
                g
                    path(style="fill:#7AD06D;" d="M198.929,0.242C88.5,5.5,1.356,97.466,1.691,208.02c0.102,33.672,8.231,65.454,22.571,93.536L2.245,408.429c-1.191,5.781,4.023,10.843,9.766,9.483l104.723-24.811c26.905,13.402,57.125,21.143,89.108,21.631c112.869,1.724,206.982-87.897,210.5-200.724C420.113,93.065,320.295-5.538,198.929,0.242z M323.886,322.197c-30.669,30.669-71.446,47.559-114.818,47.559c-25.396,0-49.71-5.698-72.269-16.935l-14.584-7.265l-64.206,15.212l13.515-65.607l-7.185-14.07c-11.711-22.935-17.649-47.736-17.649-73.713c0-43.373,16.89-84.149,47.559-114.819c30.395-30.395,71.837-47.56,114.822-47.56C252.443,45,293.218,61.89,323.887,92.558c30.669,30.669,47.559,71.445,47.56,114.817C371.446,250.361,354.281,291.803,323.886,322.197z")
                    path(style="fill:#7AD06D;" d="M309.712,252.351l-40.169-11.534c-5.281-1.516-10.968-0.018-14.816,3.903l-9.823,10.008c-4.142,4.22-10.427,5.576-15.909,3.358c-19.002-7.69-58.974-43.23-69.182-61.007c-2.945-5.128-2.458-11.539,1.158-16.218l8.576-11.095c3.36-4.347,4.069-10.185,1.847-15.21l-16.9-38.223c-4.048-9.155-15.747-11.82-23.39-5.356c-11.211,9.482-24.513,23.891-26.13,39.854c-2.851,28.144,9.219,63.622,54.862,106.222c52.73,49.215,94.956,55.717,122.449,49.057c15.594-3.777,28.056-18.919,35.921-31.317C323.568,266.34,319.334,255.114,309.712,252.351z")

            svg#viber(viewBox="0 0 514.055 514.055")
                g
                    path(style="fill:#9069AE;" d="M260.648,3.531C265.062,0,267.71,0,281.834,0c7.062,0,17.655,0.883,23.834,1.766c29.131,3.531,47.669,7.945,73.269,20.303c25.6,12.359,41.49,23.834,63.559,44.138c20.303,19.421,30.897,34.428,43.255,58.262c16.772,32.662,25.6,70.621,27.366,112.993c0.883,14.124,0,17.655-3.531,22.069c-6.179,7.945-20.303,7.062-25.6-2.648c-1.766-2.648-1.766-5.297-2.648-16.772c-0.883-17.655-1.766-29.131-4.414-43.255c-9.71-53.848-36.193-97.103-78.565-128c-35.31-25.6-66.207-35.31-113.876-38.841c-16.772,0-19.421,0-22.952-3.531C254.469,22.069,254.469,9.71,260.648,3.531")
                    path(style="fill:#9069AE;" d="M348.041,113.876c-16.772-9.71-42.372-17.655-65.324-19.421c-7.945-0.883-13.241-2.648-15.89-6.179c-5.297-4.414-5.297-12.359-1.766-17.655c4.414-7.062,11.476-7.945,31.779-4.414c51.2,7.062,90.924,30.897,117.407,68.855c15.007,21.186,23.834,46.786,26.483,73.269c0.883,9.71,0.883,27.366,0,30.897c-0.883,2.648-4.414,7.062-7.945,7.945c-3.531,1.766-10.593,1.766-14.124-0.883c-6.179-3.531-8.828-7.945-8.828-22.069c0-21.186-5.297-44.138-15.89-61.793C383.351,142.124,367.462,125.352,348.041,113.876")
                    path(style="fill:#9069AE;" d="M370.11,230.4c-5.297,4.414-14.124,4.414-19.421,0c-4.414-2.648-5.297-6.179-6.179-15.007c-0.883-11.476-3.531-19.421-6.179-26.483c-7.062-15.89-20.303-23.834-42.372-26.483c-10.593-0.883-13.241-2.648-16.772-6.179c-6.179-7.062-3.531-18.538,4.414-22.952c3.531-1.766,4.414-1.766,11.476-0.883c4.414,0,10.593,0.883,14.124,1.766c16.772,3.531,29.131,9.71,40.607,19.421c14.124,13.241,22.069,28.248,24.717,51.2C376.289,219.807,375.406,225.986,370.11,230.4")
                    path(style="fill:#9069AE;" d="M512.234,418.428c0-7.945-2.648-14.124-7.945-20.303c-5.297-6.179-41.49-35.31-59.145-46.786c-13.241-8.828-33.545-21.186-42.372-25.6c-12.359-6.179-24.717-7.062-36.193-3.531c-2.648,0.883-4.414,1.766-6.179,2.648c-5.297,2.648-9.71,7.945-20.303,20.303c-7.062,8.828-13.241,16.772-14.124,16.772c0,0-0.883,0-0.883,0.883c-0.883,0.883-3.531,1.766-5.297,2.648l0,0l0,0c-11.476,5.297-26.483,1.766-51.2-9.71c-19.421-9.71-36.193-21.186-55.614-38.841c-16.772-15.007-33.545-33.545-42.372-48.552c-12.359-19.421-21.186-44.138-21.186-58.262c0-6.179,2.648-14.124,5.297-18.538l0,0l0.883-0.883c0,0,0,0,0.883-0.883c0.883-0.883,1.766-1.766,2.648-1.766c3.531-2.648,7.945-7.062,12.359-10.593c20.303-15.89,24.717-21.186,27.366-30.014c2.648-8.828,0-20.303-8.828-36.193C174.137,82.097,130,26.483,114.11,15.89c-2.648-1.766-7.062-3.531-9.71-5.297c-7.062-1.766-16.772-2.648-22.069-1.766c-7.945,1.766-17.655,7.945-39.724,23.834c-13.241,9.71-30.897,26.483-35.31,33.545c-9.71,16.772-8.828,30.014,2.648,62.676c10.593,29.131,24.717,58.262,40.607,86.51l0,0l0.883,0.883c3.531,5.297,7.062,11.476,10.593,16.772c0,0.883,0.883,0.883,0.883,1.766c3.531,5.297,7.062,11.476,10.593,16.772c1.766,1.766,2.648,4.414,4.414,6.179c2.648,4.414,5.297,7.945,8.828,12.359c4.414,6.179,8.828,12.359,14.124,18.538c50.317,65.324,108.579,118.29,177.434,161.545c0.883,0.883,1.766,0.883,2.648,1.766c10.593,6.179,21.186,12.359,31.779,18.538c1.766,0.883,2.648,1.766,4.414,2.648c10.593,6.179,22.069,11.476,33.545,16.772c0.883,0.883,2.648,0.883,3.531,1.766c11.476,5.297,23.834,10.593,36.193,15.89c15.007,6.179,20.303,7.062,31.779,6.179c5.297,0,10.593-0.883,15.007-2.648c7.062-1.766,13.241-5.297,21.186-10.593c1.766-0.883,2.648-1.766,4.414-2.648c1.766-0.883,3.531-2.648,5.297-4.414c9.71-7.945,20.303-20.303,29.131-31.779c6.179-7.945,10.593-15.89,13.241-22.069C511.351,430.786,512.234,424.607,512.234,418.428")

            svg#idea(viewBox="0 0 512.001 512")
                g
                    path(d="M 256 0 C 167.996094 0 96.398438 71.597656 96.398438 159.601562 C 96.398438 210.25 120.277344 257.511719 160.664062 287.605469 L 160.664062 300.933594 C 150.828125 309.578125 144.601562 322.238281 144.601562 336.332031 C 144.601562 348.742188 149.429688 360.042969 157.296875 368.46875 C 149.429688 376.894531 144.601562 388.191406 144.601562 400.601562 C 144.601562 421.742188 158.589844 439.675781 177.800781 445.628906 C 183.980469 483.222656 216.683594 512 256 512 C 295.316406 512 328.023438 483.222656 334.203125 445.628906 C 353.410156 439.671875 367.402344 421.742188 367.402344 400.597656 C 367.402344 388.191406 362.574219 376.890625 354.707031 368.464844 C 362.574219 360.039062 367.402344 348.742188 367.402344 336.332031 C 367.402344 322.238281 361.175781 309.578125 351.335938 300.929688 L 351.335938 287.605469 C 391.722656 257.511719 415.601562 210.25 415.601562 159.601562 C 415.601562 71.597656 344.003906 0 256 0 Z M 320.269531 319.199219 C 329.714844 319.199219 337.402344 326.886719 337.402344 336.332031 C 337.402344 345.78125 329.714844 353.46875 320.269531 353.46875 L 191.734375 353.46875 C 182.285156 353.46875 174.597656 345.78125 174.597656 336.332031 C 174.597656 326.886719 182.285156 319.199219 191.734375 319.199219 Z M 256 482 C 234.0625 482 215.429688 467.585938 209.066406 447.734375 L 302.933594 447.734375 C 296.574219 467.589844 277.9375 482 256 482 Z M 320.269531 417.734375 L 191.734375 417.734375 C 182.285156 417.734375 174.597656 410.046875 174.597656 400.601562 C 174.597656 391.152344 182.285156 383.46875 191.734375 383.46875 L 320.269531 383.46875 C 329.714844 383.46875 337.402344 391.152344 337.402344 400.601562 C 337.402344 410.046875 329.714844 417.734375 320.269531 417.734375 Z M 327.992188 267.378906 C 323.832031 270.164062 321.335938 274.839844 321.335938 279.84375 L 321.335938 289.226562 C 320.980469 289.21875 320.625 289.199219 320.269531 289.199219 L 303.132812 289.199219 L 303.132812 230.082031 L 324.671875 208.542969 C 330.53125 202.683594 330.53125 193.1875 324.671875 187.328125 C 318.816406 181.46875 309.316406 181.46875 303.460938 187.328125 L 277.527344 213.261719 C 274.714844 216.074219 273.132812 219.886719 273.132812 223.867188 L 273.132812 289.199219 L 238.867188 289.199219 L 238.867188 223.867188 C 238.867188 219.890625 237.285156 216.074219 234.472656 213.261719 L 208.539062 187.328125 C 202.683594 181.472656 193.1875 181.472656 187.328125 187.328125 C 181.46875 193.1875 181.46875 202.683594 187.328125 208.542969 L 208.867188 230.082031 L 208.867188 289.203125 L 191.734375 289.203125 C 191.375 289.203125 191.019531 289.21875 190.664062 289.226562 L 190.664062 279.84375 C 190.664062 274.839844 188.167969 270.164062 184.007812 267.378906 C 147.9375 243.230469 126.398438 202.941406 126.398438 159.601562 C 126.398438 88.136719 184.539062 30 256 30 C 327.460938 30 385.601562 88.136719 385.601562 159.601562 C 385.601562 202.941406 364.0625 243.230469 327.992188 267.378906 Z M 327.992188 267.378906 " style=" stroke:none;fill-rule:nonzero;fill:#c1a067;fill-opacity:1;")
                    path(d="M 62.132812 159.601562 C 62.132812 151.316406 55.417969 144.601562 47.132812 144.601562 L 15 144.601562 C 6.714844 144.601562 0 151.316406 0 159.601562 C 0 167.882812 6.714844 174.601562 15 174.601562 L 47.132812 174.601562 C 55.417969 174.601562 62.132812 167.882812 62.132812 159.601562 Z M 62.132812 159.601562 " style=" stroke:none;fill-rule:nonzero;fill:#c1a067;fill-opacity:1;")
                    path(d="M 497 144.601562 L 464.867188 144.601562 C 456.585938 144.601562 449.867188 151.316406 449.867188 159.601562 C 449.867188 167.882812 456.585938 174.601562 464.867188 174.601562 L 497 174.601562 C 505.285156 174.601562 512 167.882812 512 159.601562 C 512 151.316406 505.285156 144.601562 497 144.601562 Z M 497 144.601562 " style=" stroke:none;fill-rule:nonzero;fill:#c1a067;fill-opacity:1;")
                    path(d="M 67.613281 251.042969 L 39.785156 267.109375 C 32.613281 271.253906 30.15625 280.425781 34.296875 287.601562 C 37.074219 292.414062 42.117188 295.101562 47.300781 295.101562 C 49.84375 295.101562 52.425781 294.457031 54.785156 293.089844 L 82.613281 277.027344 C 89.789062 272.882812 92.246094 263.710938 88.105469 256.535156 C 83.964844 249.359375 74.789062 246.902344 67.613281 251.042969 Z M 67.613281 251.042969 " style=" stroke:none;fill-rule:nonzero;fill:#c1a067;fill-opacity:1;")
                    path(d="M 436.898438 70.171875 C 439.441406 70.171875 442.019531 69.523438 444.382812 68.160156 L 472.214844 52.089844 C 479.386719 47.949219 481.847656 38.777344 477.703125 31.601562 C 473.558594 24.425781 464.386719 21.96875 457.214844 26.113281 L 429.382812 42.179688 C 422.210938 46.320312 419.75 55.496094 423.894531 62.667969 C 426.671875 67.480469 431.714844 70.171875 436.898438 70.171875 Z M 436.898438 70.171875 " style=" stroke:none;fill-rule:nonzero;fill:#c1a067;fill-opacity:1;")
                    path(d="M 472.210938 267.109375 L 444.382812 251.046875 C 437.207031 246.90625 428.03125 249.363281 423.890625 256.539062 C 419.75 263.710938 422.210938 272.886719 429.382812 277.027344 L 457.214844 293.089844 C 459.574219 294.453125 462.152344 295.101562 464.699219 295.101562 C 469.882812 295.101562 474.925781 292.410156 477.703125 287.597656 C 481.847656 280.425781 479.386719 271.25 472.210938 267.109375 Z M 472.210938 267.109375 " style=" stroke:none;fill-rule:nonzero;fill:#c1a067;fill-opacity:1;")
                    path(d="M 82.617188 42.175781 L 54.789062 26.113281 C 47.613281 21.96875 38.441406 24.429688 34.300781 31.605469 C 30.15625 38.78125 32.617188 47.953125 39.789062 52.09375 L 67.617188 68.160156 C 69.980469 69.523438 72.558594 70.171875 75.101562 70.171875 C 80.289062 70.171875 85.328125 67.480469 88.109375 62.667969 C 92.25 55.492188 89.789062 46.320312 82.617188 42.175781 Z M 82.617188 42.175781 " style=" stroke:none;fill-rule:nonzero;fill:#c1a067;fill-opacity:1;")
            
            svg#copy(viewBox="0 0 512 512")
                path(d="m256 512c-68.378906 0-132.667969-26.628906-181.019531-74.980469-48.351563-48.351562-74.980469-112.640625-74.980469-181.019531s26.628906-132.667969 74.980469-181.019531c48.351562-48.351563 112.640625-74.980469 181.019531-74.980469s132.667969 26.628906 181.019531 74.980469c48.351563 48.351562 74.980469 112.640625 74.980469 181.019531s-26.628906 132.667969-74.980469 181.019531c-48.351562 48.351563-112.640625 74.980469-181.019531 74.980469zm0-472c-119.101562 0-216 96.898438-216 216s96.898438 216 216 216 216-96.898438 216-216-96.898438-216-216-216zm105.359375 321.359375-28.285156-28.285156c-42.5 42.5-111.648438 42.5-154.148438 0s-42.5-111.648438 0-154.148438 111.648438-42.5 154.148438 0l28.285156-28.285156c-58.097656-58.09375-152.625-58.09375-210.71875 0-58.09375 58.097656-58.09375 152.625 0 210.71875 29.046875 29.046875 67.203125 43.570313 105.359375 43.570313 38.152344 0 76.3125-14.523438 105.359375-43.570313zm0 0")